<app-header></app-header>
<section class="container-main">
    <h3 class="text-publications">Hacer una pregunta</h3>
    <div class="container-post">
        <div class="container-input-post">
            <div class="cont-descriptions-post">
                <span class="span-text">Título</span>
                <h6>Se específico con el título de tu pregunta</h6>
                <span role="textbox" contenteditable id="create-post">Ejm: ¿Cómo se utiliza el métodol filter?</span>
            </div>
            <div class="cont-descriptions-post">
                <span class="span-text">Cuenta los detalles de tu problema</span>
                <h6>Ofrece tantos detalles como sea posible</h6>
                <span role="textbox" contenteditable id="create-post">Ejm: estoy intentando filtrar un elemento de un
                    array</span>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Publicar</button>
            </div>
        </div>
    </div>
    <h3 class="text-publications">Todas las preguntas</h3>
</section>`;