<app-header></app-header>
<section class="container-main">
    <h3 class="text-publications">Hacer una pregunta</h3>
    <div class="container-post">
        <div class="container-input-post">
            <div class="cont-descriptions-post">
                <span class="span-text">Título</span>
                <h6>Se específico con el título de tu pregunta</h6>
                <span #questionTitle role="textbox" contenteditable class="create-post" (click)="cleanTitle()">Ejm:
                    ¿Cómo
                    se utiliza el método filter?</span>
            </div>
            <div class="cont-descriptions-post">
                <span class="span-text">Cuenta los detalles de tu problema</span>
                <h6>Ofrece tantos detalles como sea posible</h6>
                <span #questionContent role="textbox" contenteditable class="create-post" (click)="cleanContent()">Ejm:
                    estoy intentando filtrar un elemento de un
                    array</span>
            </div>
            <p #messageError class="message-error"></p>
            <div class="d-grid gap-2 d-md-flex">
                <button class="btn btn-primary" type="button" (click)="postQuestion()">Publicar</button>
            </div>
        </div>
    </div>
    <h3 class="text-publications">Todas las preguntas</h3>
</section>`;
<section *ngIf="allQuestions">
    <section class="container-post">
        <div class="post-publicated" *ngFor="let question of sortedQuestions">
            <div>
                <div>
                    <p class="question-title">{{question.title}}</p>
                    <p class="question-detail">{{question.detail}}</p>
                </div>
                <div class="post-date">
                    <p> {{ question.date }} {{ question.hour }} </p>
                </div>
            </div>
        </div>`;
    </section>
</section>
<section *ngIf="titlesFiltered">
    <section class="container-post">
        <div class="post-publicated" *ngFor="let filterTitle of questionsTitles">
            <div>
                <div>
                    <p class="question-title">{{filterTitle.title}}</p>
                    <p class="question-detail">{{filterTitle.detail}}</p>
                </div>
                <div class="post-date">
                    <p> {{ filterTitle.date }} {{filterTitle.hour }} </p>
                </div>
            </div>
        </div>`;
    </section>
</section>